    <main>
        <div id="taiwan-atlas" class="[ atlas-style ]">

        </div>
        <div id="ruler">
            <div class="[ ruler__color-scale ]">

            </div>
            <div class="[ ruler__scale-name ]">
                
            </div>
        </div>
    </main>