<%
const datetime = new Date()

function dateOption(datetime) {
    var output = ""
    for (let i = 0; i < 7; i++) {
        let year = datetime.getFullYear()
        let month = datetime.getMonth() + 1 > 10 ? datetime.getMonth() + 1 : `0${datetime.getMonth() + 1}`
        let date = datetime.getDate() + i
        let checked = i === 0 ? 'checked' : ''
        let disabled = i > 2 ? 'disabled' : ''
        output += `<label>\n${month}/${date}\n<input class="${date}" value="${year}-${month}-${date}" type="radio" name="date" ${checked}${disabled}>\n</label>\n`
    }
    return output
}
function timeOption(datetime) {
    const hour = datetime.getHours()
    const dayState = hour < 12 ? 'checked' : 'disabled'
    const nightState = hour > 12 ? 'checked' : ''

    return `<label>\n白天\n<input class="[ day ]" value="06:00:00" type="radio" name="time" ${dayState}>\n</label>\n<label>\n晚上\n<input class="[ night ]" value="18:00:00" type="radio" name="time" ${nightState}>\n</label>`
}
%>
<div id="control-panel">
    <form action="">
        <div class="[ forecast-type ]">
            <label>
                降雨率
                <input value="pop" type="radio" name="forecast-type" checked>
            </label>
            <label>
                溫度
                <input value="temperature" type="radio">
            </label>
        </div>
        <div class="[ date ]">
            <%- dateOption(datetime) %>
        </div>

        <div class="[ time ]">
            <%- timeOption(datetime) %>
        </div>
    </form>
</div>